@model MarkerMessageViewModel
@if (Model != null)
{
    <div class="bgimage-panel"
         style="background: url('@Model.FilesPath[0]') center scroll no-repeat;
                background-size: cover;">

    </div>
}