@model MarkerMessageViewModel
<div id="image-modal-one" class="modal fade image-modal" tabindex="-1">
    <span class="close close-modal" data-dismiss="modal" aria-hidden="true">&times;</span>
    <img class="modal-content modal-content-image" src="@Model.FilesPath[0]" />
    <div id="image-caption">@Model.Title</div>
</div>